.wrap101 {
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
}

#section1_recruteur {
    height: 100%;
}

.background {
    background-color:rgba(0,0,0,0.4);
    padding-bottom: 341px;
}

.welcome {
    padding-top: 100px;
    text-align: center;
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
}

.barre {
    height: 1px;
    width: 10%;
    background: white;
    margin-top: 50px;
    margin-left: 44.5%;
    border: 1px white solid;
    border-radius: 4px;
}

.search {
    color: white;
    text-align: center;
    margin-top: 100px;
    font-size: 1.3em;
}

.consulting_cv {
    font-size: 1.4em;
    color: white;
    text-align: center;
}

#slim-select2 {
    padding-right: -15px;
}

.city, .where {
    width: 25%;
    float: left;
    margin-left: 6%;
    margin-top: 50px;
}

.where {
    margin-left: 10%;
}

.city label, .where label {
    color: white;
    padding-bottom: 5px;
}

#search_submit {
    margin-top: 71px;
    float: left;
    right: 10%;
    position: absolute;
    padding: 2.5px 4%;
    background: none;
    border-radius: 4px;
    border: white 1px groove;
    color: white;
    font-size: 1.3em;
    cursor: pointer;
}